@charset"utf-8";
body{
	background-color:#6C3356;
	color:#FFFFFF;
	margin:0px;
	border:0px;
	padding:0px;
}

#titlename{
	background-color:white;
	color:black;
	text-align:center;
	margin-left:15%;
	margin-right:15%;
}
#nav{
	background-color:#yellow;
	margin-right:32%;
	padding-left:0.5%;
	padding-right:0.5%;
	width:53%;
	min-width:580px;
	float:right;
} 
#content{
	background-color:#yellow;
	margin-right:32%;
	padding-left:0.5%;
	padding-right:0.5%;
	width:53%;
	min-width:580px;
	float:right;
}
